@import url("normalize.css");

header{
    background-color: green;
    color: white;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    gap: 1rem;
    position: sticky;
    top: 0;
    background-color: #408fd5a9;
      
}
nav a:hover{
    color: blue;
}
section{
    padding: 1rem;
}
article{
    color: blue;
    padding:1rem;
    border-radius:0.5rem;
    background-color : pink;
}
button{
    background-color: purple;
    color: white;
}
footer{
    text-align:center;
    background-color: grey;
    color: white;
    padding:1rem;
}
#projects{
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap: 1rem;
}
@media(max-width:768px){
    #projects{
        grid-template-columns:1fr;
    }
    nav {
        flex-direction: column;
        align-items:center;
    }
}